.geometry-label {
    /* Initially all geometry labels are shown */
    -fx-opacity: 1;
    /* Same as root pane fill color. TODO: can we unify them somehow? */
    -fx-background-color: aliceblue;
    -fx-font-weight: bold;
    -fx-font-family: 'Helvetica';
    -fx-background-radius: 2px;
    -fx-padding: 1px;
}

/* Apply this class to hide all of the contained geometry labels labels */
.geo-labels-off .geometry-label {
    -fx-opacity: 0;
}

.message {
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
